<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="1">
    <listeners>
        <listener class-name="com.example.minhduong_exercise.common.utilities.listener.ReportListener"></listener>
    </listeners>
    <test name="FirstTest">
        <packages>
            <package name="com.example.minhduong_exercise.testcases.bookTicket"/>
            <package name="com.example.minhduong_exercise.testcases.changePassword"/>
            <package name="com.example.minhduong_exercise.testcases.login"/>
            <package name="com.example.minhduong_exercise.testcases.myTicket"/>
            <package name="com.example.minhduong_exercise.testcases.register"/>
        </packages>
    </test>
</suite>
